!!! 5
%html
  %head
    %title Not When You Are Offline
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}
  %body
    .container
      %span You can't view this page when you are offline. Try again when you have the internets.


